/* *************** Footer ****************** */
.Footer{
    background-color: gainsboro;
   
  }
  .child_footer{
    height: 40vh;
    width: 100%;
    display: flex;
  }
 
  
  .footer-brand,.contactus{
    margin-bottom: 20px;
    padding: 2rem;
  }
  .newsletter{
    margin-bottom: 10px;
    padding: 1rem;
  }
  input{
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 20px;
    padding: 10px;
  
  }
  button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20px;
  
  }
  .our-items{
    /* background-color: #17a2b8; */
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer_list{
    list-style-type: none;
    padding: 0;
    margin-right: 30px;
  }
  .footer_list li{
    margin-bottom: 30px;
  }
  .footer_list,.footer_items a {
    text-decoration: none;
    color: #023e7f ;
    font-size: medium;
  }

.footer_items{
  width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrights{
  font-size: large;
  padding: 10px;
  display: flex;
  justify-content: center;

}