/* background image of landing page */
.background-img{
  height: 90vh;
  width: 100%;
  /* background-color: #007bff; */
  background-image: url("C:\Users\prata\Desktop\project\vite-project\src\assets\img.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-size: cover;

  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  color: black;
  

}
#on-background{
  background-color: rgba(250, 247, 247, 0.168);  
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
  
  top: 50%;
  left: 50%;
  color: white;

 
}
#on-background:hover{
  box-shadow: 5px 8px 16px rgba(0.2, 0.2, 0.2, 0.2);
}

@media screen and (min-width: 700px) {
  #on-background{
    height: 20vw;
    width: 70vw;
    padding: 2vw;
    font-size: 2vw;
  }
}

  p
{
  font-size: 50px;
  font-stretch: extra-condensed;
  font-weight: bold;
}

#headlines{
      margin-top: 8%;
}


h1{
  font-weight: bold;
 
}

/* container */
.container {
    background-color: rgb(220, 203, 239); 
    padding: 2rem;

}


.title {
    text-align: center;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.grid {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
 }

   

    .card {
      background-color: whitesmoke;
      padding: 1rem;
      border-radius: 0.375rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      height: 150px;
    
    }
      .card:hover{
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
      
    
.card h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: .5rem;
    text-align: center;
    margin-top: 1rem;
}

.card p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #6b7280;
    text-align: center;
}
.card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.content {
 background-color: rgb(223, 246, 223);
  padding: 10px;
  width: auto;
}
.para{
  font-size: 20px;
  /* width: auto; */
  padding-left: 20px;
  text-align: center;
}
.para1{
font-weight: bold;
margin-top: 5vh;


}
.hero-section {
  text-align: center;
  margin-bottom: 3rem;

}

.hero-section h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.services {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin-top: auto;
  padding: 10px;
}
  

.service-card {
  background: #fff;
  border-radius: 20px;
  border-color: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  position: relative;
  text-align: center;
 
}

.service-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-number {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #17a2b8;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
